<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>bootstrap + vue 留言板</title>
</head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

<body>
	<div class="container" id="box">
    	<!--输入数据-->
    	<form role="form">
        	<div class="form-group">
            	<label for="username">用户名</label>
                <input type="text" id="username" class="form-control" placeholder="输入用户名" v-model="username">
            </div> 
            <div class="form-group">
            	<label for="age">年龄</label>
                <input type="text" id="age" class="form-control" placeholder="请输入年龄" v-model="age">
            </div> 
            <div class="form-group">
            	<input type="button" value="添加" class="btn btn-primary" @click="add()">
                <input type="reset" value="重置" class="btn btn-danger">
            </div>
        </form>
        
        <!--用户信息表-->
        <table class="table table-bordered table-hover">
        	<caption class="h3 text-info text-center">用户信息表</caption>
            <tr class="text-danger">
            	<th class="text-center">序号</th>
                <th class="text-center">用户</th>
                <th class="text-center">年龄</th>
                <th class="text-center">操作</th>
            </tr>
            <tr class="text-center" v-for="item in myData">
            	<td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>
                   <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" @click="nowIndex=$index">删除</button>
                </td>
            </tr>
            <tr v-show="myData.length != 0">
            	<td colspan="4" class="text-right delete">
                    <button class="btn btn-danger btn-sm" @click="nowIndex=-2" data-toggle="modal" data-target="#layer">				
         		           全部删除
                    </button>
                </td>
            </tr>
            <tr v-show="myData.length == 0">
            	<td colspan="4" class="text-center text-muted">
            		<p>暂无数据...</p>
                </td>
            </tr>
        </table>
        
        <!-----弹出框----->
        <div role="dialog" class="modal fade" id="layer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">确认删除么？</h4>
                    </div>
                    <div class="modal-body text-right">
                        <button class="btn btn-danger btn-sm" data-dismiss="modal" @click="deleteMsg(nowIndex)">
                    		确认
                        </button>
                        <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        
	</div>
</body>

<!--需要的同学们请链接自己的js库哦-->
<script src="js/jquery11.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>

<script>
	window.onload = function(){
		var msg = new Vue({
			el:"#box",
			data:{
				myData:[
					{name:"张三",age:"20"}//默认数据
				],
				username:'',
				age:'',
				nowIndex:-100
			},
			methods:{//增加
				add:function(){
					if($("#username").val() == ""){//判断用户名是否为空
						alert("请输入用户名");
					}else if($("#age").val() == ""){//判断年龄是否为空
						alert("请输入年龄");
					}else{
						this.myData.push({
							name:this.username,
							age:this.age
						});
						this.username='';
						this.age='';
					}
				},
				deleteMsg:function(n){//删除和全部删除
					if(n == -2){
						this.myData=[];
					}else{
						this.myData.splice(n,1);
					}
				}
			}
		});
		
		$(".delete button").click(function(){
			$(".modal-title").html("确认全部删除么？");
		});
		
	}
</script>

</html>



